<style>
    .listDesign {
        text-align: center;
        vertical-align: middle;
    }
    .listDesign:hover {
        color: white;
        background-color: #00B0F0;
        cursor: pointer;
    }
    .table td{
        vertical-align: middle;
    }
    ul>li {
        list-style: none;
        padding: 2%;
    }
    .needInquiry{
        color:red;
        font-weight: bold;
    }
    .completeInquiry{
        color:cornflowerblue;
        font-weight: bold;
    }
    .deleteBtn:hover{
        color: white;
        background-color:red;
        cursor: pointer;
    }
    #deleteBtn {
        width: 100%;
        height: 100%;
    }
    #deleteBtn:hover{
        color: white;
    }
    .noInquiryMsg{
        font-size: 1.6em;
        text-align: center;
    }
</style>
<div class="card">
    <div class="card-header">
        상품에 대한 문의 목록 
    </div>
    <div class="card-body">
        <div class="mb-3">
            <button class="btn btn-sm" style="background-color: #00B0F0; color: white;" ng-click="getSabangList()">뒤로가기</button>
        </div>
        <div ng-if="inquirylist.length == 0">  
            <div class="noInquiryMsg">문의 사항이 없습니다.</div>
        </div>
        <div ng-if="inquirylist.length > 0"> <!-- 총 문의 개수가 0개 이상일 때 -->
            <div class="mb-3">
                <select ng-model="status" ng-change="onSelect(status, sid)"> 
                    <option ng-repeat="status in ansStatusList">{{status}}</option>
                </select>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr class="thead-dark" style="text-align: center;">
                        <th>번호</th>
                        <th>문의종류</th>
                        <th>답변상태</th>
                        <th>제목</th>
                        <th>문의자</th>
                        <th>등록일</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                      <tr class="listDesign" 
                            ng-repeat="inquiry in inquirylist" 
                            ng-click="getInquiry(inquiry.inquiry_id)" 
                            ng-cloak>
                        <td>{{inquiry.inquiry_id}}</td>
                        <td>{{inquiry.inquiry_type}}</td>
                        <td class="{{inquiry.inquiry_ansstate==='대기중'?'needInquiry':'completeInquiry'}}">{{inquiry.inquiry_ansstate}}</td> 
                        <td> {{inquiry.inquiry_title}}</td>
                        <td>{{inquiry.inquiry_writer}}</td>
                        <td>{{inquiry.inquiry_date | date:"yyyy.MM.dd"}}</td>
                        <td class="deleteBtn">
                            <button id="deleteBtn" class="btn btn-sm" type="button" id="angularRegion"
                                ng-click="checkDelete(inquiry.inquiry_id, inquiry.inquiry_sabangid)">삭제</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7" style="text-align: center;">
                            <button class="btn btn-outline-primary btn-sm" ng-click="getInquiryList(1, sid)">처음</button>
                            <button class="btn btn-sm" ng-show="pager.groupNo>1"
                                ng-click="getInquiryList(pager.startPageNo-1, sid)">이전</button>
                            <button ng-repeat="i in pageRange"
                                class="btn btn-sm {{(pager.pageNo==i)?'btn-primary':'btn-light'}} {{!$last?'mr-1':''}}"
                                ng-click="getInquiryList(i, sid)">{{i}}</button>
                            <button class="btn btn-sm" ng-show="pager.groupNo < pager.totalGroupNo"
                                ng-click="getInquiryList(pager.endPageNo+1, sid)">다음</button>
                            <button class="btn btn-outline-primary btn-sm"
                                ng-click="getInquiryList(pager.totalPageNo, sid)">맨끝</button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>
</div>