<div class="card">
    <div class="card-header">
        사방 패키지 수정페이지
    </div>
    <div class="card-body">
        <div>
            <div class="form-group">
                <label>패키지 이름:</label>
                <input class="form-control" ng-model="sabang.sabang_name" />
            </div>
            <div class="form-group">
                <label>원 가:</label>
                <input class="form-control" ng-model="sabang.sabang_price"/>
            </div>
            <div class="form-group">
                <label>할인가:</label>
                <input class="form-control" ng-model="sabang.sabang_saleprice"/>
            </div>
            <div class="form-group">
                <label>상품 상태:</label>
                <select id="sabang_state"
                    class="form-control"
                    ng-options="sabang_state for sabang_state in sabang_states"
                    ng-change="getState()"
                    ng-model="sabang_state"
                    style="width:200px"></select> 
            </div>
            <div class="form-group">
                <label>대표사진 첨부:</label>
                <br/>
                <img src="{{sattachUrl(sabang.sabang_id)}}" width="200" height="200" class="mb-2"/>
                <input id="sattach" name="sattach" type="file" class="form-control-file" />
            </div>
            <button class="btn btn-sm" style="background-color: #0BE324; color: white;" ng-click="updateSabang(sabang)">수정</button>
            <button class="btn btn-sm" style="background-color: #FB140D; color:  white;" ng-click="cancelUpdate(sabang.sabang_id)">취소</button>        
        </div>
    </div>
</div>